<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhx.quartz.mapper.QuartzJobMapper">
    <select id="queryJob" parameterType="java.util.HashMap" resultType="com.zhx.quartz.domain.QuartzJob">
        select * from `quartz_job` where 1=1
        <if test="id !=null and id !=''">and id =#{id}</if>
        <if test="isPause !=null and isPause !=''">and is_pause =#{isPause}</if>
        and status = 1 order by id desc
    </select>


    <update id="updateJobById" parameterType="com.zhx.quartz.domain.QuartzJob">
        update quartz_job
        <set>
            <if test="beanName != null">
                bean_name = #{beanName,jdbcType=VARCHAR},
            </if>
            <if test="cronExpression != null">
                cron_expression = #{cronExpression,jdbcType=VARCHAR},
            </if>
            <if test="isPause != null">
                is_pause = #{isPause,jdbcType=BIT},
            </if>
            <if test="jobName != null">
                job_name = #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                method_name = #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                params = #{params,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="insertSelective" parameterType="com.zhx.quartz.domain.QuartzJob">
        insert into quartz_job
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="beanName != null">
                bean_name,
            </if>
            <if test="cronExpression != null">
                cron_expression,
            </if>
            <if test="isPause != null">
                is_pause,
            </if>
            <if test="jobName != null">
                job_name,
            </if>
            <if test="methodName != null">
                method_name,
            </if>
            <if test="params != null">
                params,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="beanName != null">
                #{beanName,jdbcType=VARCHAR},
            </if>
            <if test="cronExpression != null">
                #{cronExpression,jdbcType=VARCHAR},
            </if>
            <if test="isPause != null">
                #{isPause,jdbcType=BIT},
            </if>
            <if test="jobName != null">
                #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                #{params,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>